<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蜀南调味品商城后台管理系统</title>
    <link rel="stylesheet" href="/asserts/css/bootstrap.min.css">
    <link href="/asserts/css/bar.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .container{
            width: 60%;
            margin-left: 0px;
        }
    </style>

</head>

<body>
    <div th:replace="~{commons/bar::topbar}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{commons/bar::sidebar(activeUri='order')}"></div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2">
                    <h1 class="h2">添加订单</h1>
                </div>
                <div class="container mb-4">
                    <form action="" method="post" th:action="@{/addOrder}">
                        <div class="form-group">
                            <label for="customer">客户</label>
                            <input name="odCustomer" id="customer" type="text" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="good">商品</label>
                            <select class="form-control" name="odGood" id="good">
                                <option th:each="gdN:${gdAllName}" th:text="${gdN.gdName}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="count">数量</label>
                            <input name="odCount" id="count" type="text" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="pay">支付状态</label>
                            <select class="form-control" name="odPayStat" id="pay">
                                <option>已付款</option>
                                <option>未付款</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exp">发货状态</label>
                            <select class="form-control" name="odExpStat" id="exp">
                                <option>已发货</option>
                                <option>未发货</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="expnum">运单号</label>
                            <input name="ExpNum" id="expnum" type="number" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="time">下单时间</label>
                            <input name="odTime" id="time" type="text" class="form-control" placeholder="2020/01/01">
                      </div>
                      <button type="submit" class="btn btn-primary">提交</button>
                  </form>
                </div>
            </main>
        </div>
    </div>
    <script src="https://unpkg.com/feather-icons@4.25.0/dist/feather.min.js"></script>
    <script src="/asserts/js/jquery-3.4.1.min.js"></script>
    <div th:replace="~{commons/bar::scri}"></div>
</body>

</html>